.form-validation{
    width: 550px;
    margin: 0 auto ;
    background: #ddd;
    padding: 20px 50px;
    box-sizing: border-box;
}

.lable{
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
.text{
    float: left;
    width: 300px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}
.row{
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.btn{
    float: left;
    padding: 10px 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
    border: 1px solid #eee;
    background: #fff;

}
.error{
    color: #cc0000;
    padding-top: 5px;
    float: left;
    width: 100%;
}